body {
    font-family: Raleway;
    max-width: 1350px;
    margin: auto;
}

.bold {
    font-weight: bold;
    font-size: 1.2;
}

.fas {
    color: #0065FC;
}

.vide {
    color: #F2F2F2;
}

img {
    height: 200px;
}

.logo {
    height: 60px;
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 10px 0  20px;
}

.titre_recherche {
    margin-bottom: 0.5rem;
}

.p_recherche {
    margin-top: 0;
}

.barre_de_recherche {
    display: inline-flex;
    margin-bottom: 2rem;
}

.icone_barre_de_recherche {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
}

.recherche_lieu {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
}

.bouton_rechercher {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-size: 1rem;
    cursor: pointer;
}

.partie_filtres {
    display: flex;
    align-items: center;
}

.filtres {
    display: flex;
}

.filtre {
    display: flex;
    margin-left: 45px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    height: 50px;
}

.icone_filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    width: 50px;
    height: 100%;
    border-radius: 50%;
}

.filtres p {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 10px;
    font-weight: bold;
}

.résultat_recherche {
    display: flex;
    align-items: center;
    margin: 1.3rem 0 2rem 0;
}

.icone_résultat {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.p_résultat_recherche {
    margin: 0;
}

/* section hébergements à Marseille */

#Hébergements_Les_plus_populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

#Hébergements_à_Marseille {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 0px 35px 0px 35px;
    width: 61%;
}

.titre_hébergements {
    margin-bottom: 25px;
    margin-top: 30px;
}

.contenuHébergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenu_hébergements {
    background-color: white;
    border-radius: 15px;
    border: 3px;
    padding: 5px 5px 0 5px;
    max-width: 235px;
    margin-bottom: 30px;
}

.nom_prix_étoiles {
    padding: 0 15px 12px;
}

.photos_hébergements {
    object-fit: cover;
    width: 235px;
    height: 112px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.p_hébergement {

}

/* section hébergements à Marseille */

/* section Les Plus Populaires */

#Les_Plus_Populaires {
    background-color: #F2F2F2;
    flex-direction: column;
    border-radius: 20px;
    padding: 0px 30px 19px 30px;
    width: 26%;
}

.titre_Les_Plus_Populaires {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.contenuLesPlusPopulaires {
    height: 84%;
}

.contenu_Les_Plus_Populaires {
    background-color: white;
    display: flex;
    border: 3px;
    border-radius: 20px;    
    margin-bottom: 30px;
}

.photos_Les_Plus_Populaires {
    object-fit: cover;
    width: 132px;
    height: 132px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nom_prix_étoiles2 {
    padding: 7px 0px 7px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 



/* section Les Plus Populaires */

/* section Activités à Marseille */

.Activités_à_Marseille {
    margin-bottom: 60px;
    flex-direction: column;
}

.activité_caulomn {
    width: 23%;
}

.Activités {
    display: flex;
    justify-content: space-between;
}

.Activité1, .Activité2, .Activité3, .Activité4, .Activité5, .Activité6 {
    padding: 0 0 20px 0;
    border-radius: 20px;
    margin: 0 0 20px 0;
    box-shadow: 0 0 20px #0000002e;
}

#Activités_à_Marseille h2 {
    font-size: medium;
}

.photo_activité {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.photo_Activité {
    height: 380px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.photo_activité2 {
    height: 183px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.photo_activité3 {
    height: 112px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.photo_activité5 {
    height: 141px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.photo_activité6 {
    height: 155px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* section Activités à Marseille */

/* Footer */ 

.footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
}

.a_propos {
    width: 31%;
}

.Nos_hébergements {
    width: 31%;
}

.assistance {
    width: 31%;
}